body {
  background-color: #899282;
  background-size: cover;
  backdrop-filter: blur(7px);
  margin: 50px;
}

.title {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #3a472f;
  text-align: center;
  font-size: 4rem;
}

.bodyAbout {
  display: flex;
}

.photoTuk {
  max-width: 50%;
  height: 500px;
  flex-grow: 1;
  object-fit: cover;
  border-radius: 20px;
}

.aboutWord {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  margin: 30px;
  border: solid #f6e6cb 1px;
  padding: 15px;
  border-radius: 20px;
  object-fit: cover;
  flex-grow: 1;
  flex: 1;
}
footer {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 20px;
 
}

button{
    font-size: 1.2rem;
    border: 0px;
    background-color: #e7d4b500;
    border-radius: 5px;
 height: 30px;
 width: 100px;
 border: solid 1px #f6e6cb;
 background-color: #333f2a00;
 font-size: 1rem;
 color: #c2ccba;

}







@media (max-width: 800px) {
  .bodyAbout {
    flex-direction: column;
  }

  .photoTuk {
    max-width: 100%;
  }

  .aboutWord {
    flex-grow: 1;
  }

  .title{
    font-size: 2rem;
  }
}
